* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-page {
    background-color: #e8ebf0;
}

/* nav */

.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 20px;
}

.menu {
    width: 100%;
    position: fixed;
    background-color: rgb(97, 87, 87);
    z-index: 80;
    overflow: hidden;
}

.m-i {
    float: left;
    height: 51px;
    width: 120px;
}

.menu-right a {
    background-color: yellowgreen;
    float: right;
    color: white;
}

.menu-right {
    float: right;
}

.menu a:hover {
    border-radius: 15px;
    background-color: rgb(187, 178, 178);
    color: black;
    transition: 0.40s;
}

.menu-right a:hover {
    border-radius: 0;
    background-color: skyblue;
    color: black;
}

#a1 {
    margin-left: 20px;
}

/* courses */

.text {
    padding: 60px 0px 10px 0px;
    text-align: center;
    margin-bottom: 15px;
}

.sidebar {
    list-style-type: none;
    display: block;
    position: fixed;
    width: 20%;
    height: 100%;
    background: rgb(226, 226, 226);
    text-align: left;
    font-size: larger;
    overflow-y: scroll;
}

.sidebar li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 0px;
    display: inline-block;
    width: 100%;
}

.sidebar li {
    background-color: rgb(34, 0, 128);
    margin: 5px 0px;
}

.slidehead {
    text-align: center;
}

.sub-point li {
    background-color: white;
    margin: 5px 0px;
}

.sub-point li a {
    color: brown;
}

.sidebar li:hover {
    background-color: rgba(34, 0, 128, 0.527);
}

.sub-point li:hover {
    background-color: rgba(255, 255, 255, 0.534);
}

.discription {
    margin-left: 21%;
    font-size: larger;
    padding-left: 30px;
}

.discription h1 {
    padding-top: 60px;
}

.discription h2 {
    padding-top: 20px;
}