* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-page {
    background-color: #e8ebf0;
}

/* nav */

.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 20px;
}

.menu {
    width: 100%;
    position: fixed;
    background-color: rgb(97, 87, 87);
    z-index: 80;
    overflow: hidden;
}

.m-i {
    float: left;
    height: 51px;
    width: 120px;
}

.menu-right a {
    background-color: black;
    float: right;
    color: yellow;
}

.menu-right {
    float: right;
}

/* .menu a:hover {
    background-color: rgb(33, 192, 33);
    color: black;
    transition: 0.40s;
}

.menu-right a:hover {
    background-color: skyblue;
    color: black;
} */

.menu a:hover{
    border-radius: 20px;
    background-color: rgb(187, 178, 178);
    color: black;
    transition: 0.40s;
}
.menu-right a:hover{
    border-radius: 0;
    background-color: skyblue;
    color: black;
}
#a1{
   margin-left: 20px;
}

/* courses */

.text {
    padding-top: 50px;
}

.sidebar {
    list-style-type: none;
    display: block;
    position: fixed;
    width: 20%;
    height: 100%;
    background: rgb(189, 184, 192);
    text-align: left;
    font-size: larger;
    overflow-y: scroll;
}

.sidebar li a {
    color: indigo;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 10px;
}

.sidebar li a:hover {
    background-color: rgb(153, 147, 147);
}
.discription {
    margin-left: 21%;
    font-size: larger;
    padding-left: 30px;
}

.discription h1 {
    padding-top: 60px;
}
.discription h2{
    padding-top: 20px;
}