*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main-page{
    background-color: #e8ebf0;
}
/* nav */
.menu{
    display: flex;
    font-size: 25px;
    padding: 10px 1px;
    margin-left: 20px;
    
}
.m{
    list-style-type: none;
}
.m a{
    text-decoration: none;
    color: white;
    padding: 0px 30px;
}
nav{
    position: fixed;    
    width: 100%;
    height: 50px;
    background-color: rgb(97, 87, 87);
    z-index: 80;
    display: flex;
    flex-direction: row;
}
.menu-icons{
    height: 50px;
    width: 120px;
}
.m-i{
    height: 100%;
    width: 100%;
}
.admin a{
    color:yellow;
}
.m a:hover{
    color: rgb(243, 225, 225);
}
.admin a:hover{
    color: yellowgreen;
}

/* home */
#bg{
    background: url("img/bg2.jpg")no-repeat center center/cover;
    height: 600px;
    width: 100%;
    opacity: 1;

}
#home{
    justify-content: center;
     align-items: center;
     display: flex;
     flex-direction: column;
     content:"";
     position: absolute;
}
.info{
    color: white;
    margin: 250px 150px;
}
#home h1{
    text-align: center; 
    font-weight: bolder;
    font-size: 40px;
}
#home p{
    text-align: center;
    font-size: 1.5rem;
}

/* Quote */
.quote{
    border: 2px solid black;
    height: 125px;
    background-color: black;
    color: white;
}
.quote-line{
    font-size: 44px;
    margin: 1% 10%;
    font-style: italic;
}
.quote-name{
    float: right;
}
/* course */
hr{
    display: flex;
    margin: auto;
    margin-top: 5px;
    border: 0;
    width: 35%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}
.s-head{
    text-align: center;
    font-size: 25px;
}
.section{
    padding-top: 51px;
}
.topic{
    display: flex;
}

.t{
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 320px;
    height: 240px;
    background-color: #ffffff;
    cursor:pointer;
    box-shadow: 5px 10px 18px #888888;
}
.t:hover{
    box-shadow: 5px 10px 18px rgb(255, 115, 0);
}
.t-image{
    width: 100%;
    height: 170px;
    border-radius: 10px 10px 0px 0px;
}
.t-image1{
    background: url("img/capital2.jpg")no-repeat center center/cover;
}
.t-image2{
    background: url("img/OIP3.jpg")no-repeat center center/cover;
}
.t-image3{
    background: url("img/bond.jfif")no-repeat center center/cover;
}
.t-image4{
    background: url("img/fundamental1.jpg")no-repeat center center/cover;
}
.t-image5{
    background: url("img/mutual\ funds.webp")no-repeat center center/cover;
}
.t-head{
    text-align: center;
    padding: 20px 23px;
}
.c-link{
    text-decoration: none;
    color: black;
}

/* Admin Page */

.Adminpage{
background-color: #6874d0;
}
.Admin{
    padding-top: 12%;
    display: flex;
    margin: auto;
}
.admin-icon{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 100px;

}
.a-name{
    text-align: center;
    margin-top: 10px;
}
.a-icon{
  height: 180px;  
}
.a-img{
    height: 100%;
}

.Login{
    display: flex;
    margin: auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 5px 10px 18px;
    background-color: rgba(255, 255, 255, 0.973);
}
.Admin-heading{
    text-align: center;
    font-size: 45px;
}
.Admin-input-div{
    margin: 25px 0px; 
}
.Admin-input-img{
    height: 30px;
    margin: -9px 5px;
}
.Admin-input{
    border: none;
    border-bottom: solid 1px;
    width: 310px;
    height: 25px;
    padding: 2px 5px;
    outline: none;
}
.Admin-button-div{
    margin: 33px 0px; 
}
.Admin-button{
    cursor: pointer;
    background-color: darkgreen;
    font-size: 30px;
    width: 370px;
    outline: none;
    color: white;
    border-radius: 20px;
}
.Admin-button:hover{
    background-color: rgb(7, 75, 7);
}





footer{
    background-color: rgb(97, 87, 87);
    color: white;
    padding: 5px 0px;
    font-size: 25px;
    text-align: center;
}
